@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url(img/background1.jpg);
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h5 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* Set widths on the form inputs since otherwise they're 100% wide */

select,
textarea {
    max-width: 500px;
    width: 100%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* appearance: none; */
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
}

input[type=radio] {
    max-width: 500px;
    height: 18px;
    width: 15px;
    padding-right: -15px;
}

input[type=checkbox] {
    border-radius: 50%;
}

.round {
    top: 15px;
    right: 80px
}

.checkbox-rounded {
    margin-top: 10px;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    /* border-radius: 50%; */
    vertical-align: middle;
    border: 1px solid #ddd;
    /* appearance: none; */
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.option-item:hover {
    cursor: pointer;
}

.checkbox-rounded:checked,
.option-item:checked {
    background-color: #D62828;
}

.sexeLabel {
    font-size: 25px;
}

td {
    width: 80%;
    padding-right: 15px;
}

select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    appearance: none;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.email {
    padding-top: 30px;
}

.cardInscription-title {
    font-weight: 700;
    padding: 0;
}

p {
    opacity: unset;
}

.inscriptionModal {
    display: none;
    color: #23282F;
}

.inscriptionModal {
    display: none;
}

.cardInscription {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%;
    border-radius: 32px;
    /* Could be more or less, depending on screen size */
    width: 484px;
    border-radius: 32px;
    position: relative;
    /* text-align: center; */
    margin: auto;
    min-height: initial;
    /* box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px; */
    background-color: rgba(250, 250, 250, 1);
    margin: 0 auto;
    animation: fade 250ms ease-in-out forwards;
    opacity: 1;
    align-items: center;
    /*style*/
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 40px 30px 04px 30px;
    display: flex;
    position: relative;
}

.rowCentreInteret {
    align-items: center;
    padding: 80;
}

.form-label {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -40px;
    color: rgb(100, 100, 100);
}

.closeInscription {
    position: absolute;
    right: 35px;
    top: 40px;
    color: rgb(51, 51, 51);
    font-size: 25px;
    font-weight: bold;
    opacity: 1;
}

.closeInscription:hover,
.closeInscription:focus,
.previous {
    color: #D62828;
    cursor: pointer;
    border-radius: 50%;
}

.previous {
    position: absolute;
    left: 35px;
    top: 150;
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}

main {
    background-image: url(img/background1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 0.6; */
}

.email {
    . margin-bottom: 7px;
}

.mdp {
    margin-bottom: 5px;
}

.btn-connect {
    Background: #4484ce !important;
    border-color: #4484ce !important;
    margin: 30px 0 20px 0;
    opacity: 2;
}

.form-check {
    margin-top: 50px;
}

.text-bas {
    text-align: center;
    font-weight: 300;
}

.buttonInscription {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    /*Pinterest*/
    border: 0px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
    background: #D62828;
    width: 100%;
}

.buttonInscription:hover {
    opacity: 0.8;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}

.form-group:last-child {
    margin: 0;
}

.form-group>label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
}

select {
    height: 30px;
}


/* .form-group>input {
    font-size: 1rem;
    padding: .2em;
} */

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.cardInscription.active {
    animation: slide 250ms 125ms ease-in-out both;
}

.multi-step-form {
    overflow: hidden;
    position: relative;
}

.hide {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.75);
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}


/* #spanCondition {
    background: none;
    border: none;
    padding: 0px;
    display: block;
    margin-left: 5px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    transition: opacity 0.2s linear 0s;
    color: rgb(118, 118, 118); 
}*/

#spanCondition a {
    text-decoration: none;
}

#checkboxCondition {
    size: 14px;
    font-size: 50px;
}

input[type=checkbox] {
    border-radius: 50%;
    corner-radius: 15px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}


/* Inscription Centre d'intérêt */

.cardInscriptionCentreInteret {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 20px 50px 40px 50px;
    border-radius: 32px;
    width: 1000px;
    align-items: center;
}

.divCentreInteret {
    width: 158px;
    height: 158px;
    border-radius: 15px;
    margin: 1.2%;
    background: #D62828;
    border: 1px solid;
}

.row {}

.divCentreInteret:hover {
    background-color: red;
    cursor: pointer;
}

.labelCentreInteret {
    color: white;
    margin-top: 80%;
    font-weight: bold;
    margin-left: 5%;
    font-size: 16px;
}

.overlay-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 60, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.overlay-image:hover {
    background-color: rgba(51, 51, 60, 0);
    cursor: pointer;
}


/*css for other device*/

@media screen and (max-width: 600px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        padding: 20px 40px 40px 40px;
        border-radius: 32px;
        width: 100%;
        align-items: center;
    }
    .divCentreInteret {
        width: 45%;
        height: 125px;
        margin: 2%;
    }
}

@media screen and(max-width: 200px) {
    .divCentreInteret {
        width: 100%;
        height: 125px;
        margin: 2%;
    }
}

@media screen and (max-width: 910px) and (min-width:600px) {
    .card {
        position: relative;
        /* display: flex; */
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        padding: 20px 40px 40px 40px;
        border-radius: 32px;
        width: 820px;
        align-items: center;
    }
    .divCentreInteret {
        width: 210px;
        height: 220px;
        margin: 2%;
    }
}
